<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sash.tamilkalvi" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aboutTamil"
            android:label="@string/title_activity_about_tamil"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.MainActivity" />
        </activity>
        <activity
            android:name=".LearnTamil"
            android:label="@string/title_activity_learn_tamil"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.MainActivity" />
        </activity>
        <activity
            android:name=".TestTamil"
            android:label="@string/title_activity_test_tamil"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.MainActivity" />
        </activity>
        <activity
            android:name=".firstvowel"
            android:label="@string/title_activity_firstvowel"
            android:parentActivityName=".LearnTamil" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.LearnTamil" />
        </activity>
        <activity
            android:name=".secondvowel"
            android:label="@string/title_activity_secondvowel"
            android:parentActivityName=".firstvowel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.firstvowel" />
        </activity>
        <activity
            android:name=".thirdvowel"
            android:label="@string/title_activity_thirdvowel"
            android:parentActivityName=".secondvowel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.secondvowel" />
        </activity>
        <activity
            android:name=".fourthVowel"
            android:label="@string/title_activity_fourth_vowel"
            android:parentActivityName=".thirdvowel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.thirdvowel" />
        </activity>
        <activity
            android:name=".firstTest"
            android:label="@string/title_activity_first_test"
            android:parentActivityName=".TestTamil" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.TestTamil" />
        </activity>
        <activity
            android:name=".fifthvowel"
            android:label="@string/title_activity_fifthvowel"
            android:parentActivityName=".fourthVowel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.fourthVowel" />
        </activity>
        <activity
            android:name=".sixthvowel"
            android:label="@string/title_activity_sixthvowel"
            android:parentActivityName=".fifthvowel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.fifthvowel" />
        </activity>
        <activity
            android:name=".seventhvowel"
            android:label="@string/title_activity_seventhvowel"
            android:parentActivityName=".sixthvowel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.sixthvowel" />
        </activity>
        <activity
            android:name=".eightvowel"
            android:label="@string/title_activity_eightvowel"
            android:parentActivityName=".seventhvowel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.seventhvowel" />
        </activity>
        <activity
            android:name=".ninevowel"
            android:label="@string/title_activity_ninevowel"
            android:parentActivityName=".eightvowel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.eightvowel" />
        </activity>
        <activity
            android:name=".tenvowel"
            android:label="@string/title_activity_tenvowel"
            android:parentActivityName=".ninevowel" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.ninevowel" />
        </activity>
        <activity
            android:name=".secondTest"
            android:label="@string/title_activity_second_test"
            android:parentActivityName=".firstTest" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.firstTest" />
        </activity>
        <activity
            android:name=".thirdTest"
            android:label="@string/title_activity_third_test"
            android:parentActivityName=".secondTest" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.secondTest" />
        </activity>
        <activity
            android:name=".fourthTest"
            android:label="@string/title_activity_fourth_test"
            android:parentActivityName=".thirdTest" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.thirdTest" />
        </activity>
        <activity
            android:name=".fifthTest"
            android:label="@string/title_activity_fifth_test"
            android:parentActivityName=".fourthTest" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.fourthTest" />
        </activity>
        <activity
            android:name=".finaltest"
            android:label="@string/title_activity_finaltest"
            android:parentActivityName=".fifthTest" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sash.tamilkalvi.fifthTest" />
        </activity>
    </application>

</manifest>
